table(width=max_w align="center" class="mobile-table" bgcolor="#ffffff")&attributes(tableAtt)
  tr
    td(width="100%" bgcolor=wild_sand)
      table(width="100%")&attributes(tableAtt)
        tr
          td(width="64" class="content-spacing") &nbsp;
          td
            table(width="100%")&attributes(tableAtt)
              +vSpacer(40)
              tr
                td(align="center")
                  a(href="https://www.seizethenightanddayhcp.com/s/" target="_blank")
                    img(src=img_path+"primary-logo.png" width="91.5")
              +vSpacer(15)
              tr
                td(class="p-xs eggplant" align="center").
                  This email was sent to [recipient email]
              +vSpacer(15)
              tr
                td(class="p-xs eggplant" align="center").
                  This email was sent by: Idorsia Pharmaceuticals, Ltd.#[br]
                  One Radnor Corporate Center, Suite 101, Radnor, PA, 19087
              +vSpacer(15)
              tr
                td(class="p-xs eggplant" align="center").
                  We respect your right to privacy – view our #[a(href="https://www.idorsia.us/us/system/legal-statements/privacy-policy.page" target="_blank" class="p-xs eggplant") Privacy policy]
              +vSpacer(15)
              tr
                td(class="p-xs eggplant" align="center").
                  #[a(href="https://myidorsia.com/emailPreferences + Token 1" target="_blank" class="p-xs eggplant") Unsubscribe]
              +vSpacer(28)
              tr
                td(width="100%" align="center")
                  table(width="164")&attributes(tableAtt)
                    tr
                      td
                        a(href="https://twitter.com/seizenightday" target="_blank")
                          img(src=img_path+"twitter.png" width="32")
                      td
                        a(href="https://www.facebook.com/seizethenightandday" target="_blank")
                          img(src=img_path+"facebook.png" width="32")
                      td
                        a(href="https://www.linkedin.com/company/seize-the-night-and-day/" target="_blank")
                          img(src=img_path+"linkedIn.png" width="32")
                      td
                        a(href="https://www.instagram.com/seizethenightandday/" target="_blank")
                          img(src=img_path+"instagram.png" width="32")
              +vSpacer(28)
              tr
                td(class="p-xs eggplant" align="center").
                      ©2022 Idorsia Pharmaceuticals, Ltd.#[br]
                      US-IDS-00379&nbsp;&nbsp;02/22
              +vSpacer(28)
              tr
                td(align="left")
                  a(href="https://www.idorsia.us/us/index.page?" target="_blank")
                    img(src=img_path+"idorsia_pharmaceuticals_logo.png" width="74.5")
              +vSpacer(48)
          td(width="64" class="content-spacing") &nbsp;
